@import './styles/_color.scss';
@import './styles/_typography.scss';
@import './styles/_grid.scss';

// Set REM to 10px
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: $gray50;
}

a {
    text-decoration: none;
    color: $gray900;
    &:hover {
        color: $gray900;
        text-decoration: underline;
    }
    &:visited {
        color: $gray600;
    }
}
