$gray-50: #fafafa;

/* Grayscale */
$gray50: #fafafa;
$gray100: #eeeef0;
$gray200: #cdcdd0;
$gray300: #b1b1b5;
$gray400: #98989d;
$gray500: #76767a;
$gray600: #575758;
$gray700: #414142;
$gray800: #2c2c2f;
$gray900: #161616;

/* Yellow */
$yellow50: #fffbf0;
$yellow100: #fff4ae;
$yellow200: #ffea86;
$yellow300: #fee05e;
$yellow400: #fed535;
$yellow500: #fec10d;
$yellow600: #ffaf00;
$yellow700: #fe9b09;
$yellow800: #ff8c00;
$yellow900: #ff7800;

/* Blue */
$blue50: #f2f9ff;
$blue100: #b3e4ff;
$blue200: #7ac7ff;
$blue300: #46a0ee;
$blue400: #1681d9;
$blue500: #0066bb;
$blue600: #0055a0;
$blue700: #004b88;
$blue800: #003f70;
$blue900: #003159;

/* Teal */
$teal50: #eefdff;
$teal100: #c9f2f7;
$teal200: #a3e8ef;
$teal300: #7edde8;
$teal400: #58d3e0;
$teal500: #33c8d8;
$teal600: #25b5c5;
$teal700: #0e9eae;
$teal800: #0d7f8d;
$teal900: #006774;

/* Green */
$green50: #ecfcee;
$green100: #cef0d2;
$green200: #aae1b0;
$green300: #85d28d;
$green400: #61c36b;
$green500: #3cb449;
$green600: #299f36;
$green700: #1c8828;
$green800: #0f721a;
$green900: #005c0a;

/* Lime */
$lime50: #fdffe7;
$lime100: #f2f7aa;
$lime200: #ebf380;
$lime300: #e4ee5f;
$lime400: #deea3f;
$lime500: #d7e600;
$lime600: #cedc07;
$lime700: #c0d100;
$lime800: #afc400;
$lime900: #99b000;

/* Purple */
$purple50: #f4f3ff;
$purple100: #d3caff;
$purple200: #b7a1ff;
$purple300: #9d76ff;
$purple400: #844ffa;
$purple500: #6a30df;
$purple600: #5c25c5;
$purple700: #4e1aab;
$purple800: #3f0f91;
$purple900: #310477;

/* Pink */
$pink50: #fff3f9;
$pink100: #ffc3e2;
$pink200: #f483be;
$pink300: #e159a0;
$pink400: #d4418d;
$pink500: #c22e7b;
$pink600: #b1276f;
$pink700: #9f1f62;
$pink800: #88104f;
$pink900: #70003b;

/* Red */
$red50: #fff0f0;
$red100: #ffbdbd;
$red200: #ff877e;
$red300: #ff6259;
$red400: #fa3732;
$red500: #e91b19;
$red600: #d70b03;
$red700: #bf0a00;
$red800: #a40000;
$red900: #8f0000;

/* Orange */
$orange50: #fff5ee;
$orange100: #ffcbaa;
$orange200: #ffb180;
$orange300: #ff8537;
$orange400: #ff6602;
$orange500: #ff6c0f;
$orange600: #fa5506;
$orange700: #e54300;
$orange800: #d53400;
$orange900: #c72d00;
