.header {
    font-weight: 400;
}

.header_logo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 100%;
    margin: 1rem 0rem;
}

.header_links-cont {
    height: 100%;
    margin-top: 0.6rem;
}

.header_link-list {
    width: 100%;
    text-align: right;
    padding: 0px;
}

.header_link-item {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    color: #414142;
    font-weight: 400;
}

.header_link-item:not(:first-child) {
    margin-left: 2.4rem;
}

a.header_link {
    color: black;
    &:hover {
        font-weight: 700;
        text-decoration: none;
        border-bottom: 2px solid black;
    }
}

a.header_link-active {
    color: black;
    font-weight: 700;
    border-bottom: 2px solid #fec10d;
    &:hover {
        text-decoration: none;
        border-bottom: 2px solid #fec10d;
    }
}
