@import '../../styles/_color.scss';

.header {
    font-weight: 400;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 2.4rem 0 rgba(125, 125, 125, 0.24);
    z-index: 100;
}

.header_logo-cont{
    margin: 1.2rem 0rem;
}

a.header_logo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    height: 100%;
    color: black;

    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
}

.header_links-cont {
    height: 100%;
    margin-top: 0.6rem;
}

.header_link-list {
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 1rem 0 0;
}

.header_list-item {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    color: #414142;
}

.header_list-item:not(:first-child) {
    margin-left: 3.2rem;
}

.header_list-item:last-child {
    margin-left: 1.6rem;
    margin-right: -0.8rem;
    &:hover{
      background-color: $gray200;
      border-radius: 100rem;
    }
}

a.header_link {
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 0 0.4rem;
    &:hover {
        font-weight: 700;
        text-decoration: none;
        border-bottom: 0.2rem solid $yellow500;
    }
    &:focus {
      outline: none;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 0.2rem solid $yellow500;
    }

    &:hover:focus:active {
      outline: none;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 0.2rem solid black;
    }
}

a.header_link-active {
    color: black;
    font-weight: 600;
    border-bottom: 0.2rem solid #fec10d;
    &:hover {
      font-weight: 700;
        text-decoration: none;
    }
    &:focus {
      outline: none;
      font-weight: 700;
      text-decoration: none;
    }
}

.header_more-icon{
    vertical-align: middle;
    color: $gray600;
    cursor: pointer;
}

.header_more-button{
    background-color: rgba($gray100, 0);
    border: 0 solid transparent;
    width: 2.4rem;
    cursor: pointer;
    transition: 0.25s;
    padding: 0;
    border-radius: 100%;

    &:hover{
      background-color: $gray200;
    }
    &:focus{
      background-color: $gray100;
      outline: none;
      box-shadow: 0px 0px 4px 2px $gray900;
    }
    &:hover:focus{
      background-color: $gray200;
    }
    &:hover:focus:active{
      background-color: $yellow500;
      box-shadow: 0px 0px 4px 2px $yellow900;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        width: calc(100% - 3.2rem);
    }
}

@media only screen and (min-width: 1280px) {
    .header {
        width: calc(100% - 3.2rem);
    }
}

@media only screen and (min-width: 1440px) {
    .header {
        width: calc(100% - 6.4rem);
    }
}
