@import '../../styles/_color.scss';

.nav{
	position: absolute;
	width: 100%;
	height: calc(100% - 5.6rem);
	z-index: 50;
	transition: 0.4s;
}

.nav_open{
	visibility: visible;
	opacity: 1;
	background-color: rgba($gray900, 0.95);
}

.nav_closed{
	visibility: hidden;
	opacity: 0;
	background-color: rgba($gray900, 0.95);
}
