@import './../../../styles/_color.scss';

.nav_links-cont{
    padding-top: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.nav_set-cont{
  margin-top: 5.6rem;
}

.nav_set-title{
    font-family: 'Roboto Mono';
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: white;
    margin: 0;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid $gray700;
}

.nav_set-list{
    column-count: 3;
    list-style: none;
    padding: 0;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
}

.nav_set-list-item{
}

.nav_set-list-item:not(:first-child){
  margin-top: 1.2rem;
}

a.nav_set-link{
    font-family: 'Roboto Mono';
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2.2rem;
    letter-spacing: 0rem;
    padding-bottom: 0.2rem;
    color: $gray300;

    &:hover{
      font-weight: 400;
      color: $yellow500;
      text-decoration: none;
      border-bottom: 1px solid $yellow500
    }

    &:focus{
      outline: none;
      color: white;
      font-weight: 400;
      border-bottom: 1px solid white;
    }

    &:hover:focus{
      font-weight: 400;
      color: $yellow500;
      text-decoration: none;
      border-bottom: 1px solid $yellow500
    }
}

a.nav_set-link-active{
  color: $yellow500;
  font-weight: 400;
  border-bottom: 1px solid $yellow500;

  &:hover{
      outline: none;
      color: white;
      font-weight: 400;
      border-bottom: 1px solid white;
  }

  &:hover:focus{
      outline: none;
      color: $yellow500;
      font-weight: 400;
      border-bottom: 1px solid $yellow500;
  }
}
